@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize !important;
    text-decoration: none !important;
}

.font-f{
    font-family: 'Playfair Display', serif !important;
}
.font-p{
    font-family: 'Poppins', sans-serif !important;
} 


.p-color{
    color: #262A3F !important;
}
.s-color{
    color: #6F29FE !important;
}


.navbar-col{
    background-color: #FEFCFB !important;
    
}

.nav-ul{
    margin-left: 20px !important;
    
}
.nav-li{
    color: #262A3F !important;
 font-size: 20px !important;
 font-family: 'Poppins', sans-serif !important;


}
.nav-icon{
 color: #6F29FE !important;
 font-size: 30px !important;
 cursor: pointer !important;
}

.style-para{
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 140% !important;
}
.style-btn{
    font-family: 'Poppins'!important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 19px !important;
    line-height: 30px !important;
    align-items: center !important;
    text-align: center !important;
    letter-spacing: 2px !important;
    color: #FFFFFF !important;
    background: #6F29FE !important; 
    border-radius: 100px !important;
    box-shadow: #6F29FE  0px 3px 8px 0px !important;
}
.style-btn-1{
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 19px !important;
    line-height: 30px !important;
    border: 1px solid #6F29FE !important;
    border-radius: 100px !important;
    align-items: center !important;    
    text-align: center !important;
    letter-spacing: 2px !important;
    color: #6F29FE !important;
}
.model{
    /* background: url(.jpg), linear-gradient(180deg, rgba(196, 196, 196, 0.2) 0%, rgba(196, 196, 196, 0.2) 96.7%) !important; */
    display: flex !important;
    justify-content: center !important;
    padding: 0px !important;
}
.model-box{
    width: 175px !important;
    height: 68px !important;
    background: #FFFFFF !important;
    box-shadow: 10px 32px 72px 1px rgba(51, 51, 51, 0.08) !important;
    border-radius: 10px !important;
}
.box{
    position: absolute;
    width: 175px;
    height: 68px;
    left: 720px;
    top: 142px;
    background: #FFFFFF;
    box-shadow: 10px 32px 72px 1px rgba(51, 51, 51, 0.08);
    border-radius: 7px;
}
.box-1{
    position: absolute;
    width: 137px;
    height: 68px;
    left: 350px;
    top: 70px;
}
.box-logo{
    width: 100% !important;
    margin: auto;
    padding: 10px !important;
}

.heading-box{
    width: 100% !important;
    text-align: start !important;
    margin: auto !important;
    
}
.heading{
    width: 100% !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    margin: 0px !important;
    color: #333333 !important;
    
}
.small{
    width: 50% !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 500 !important ;
    font-size: 11px !important;
    
}
.model-box-para{
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 17px !important;
    line-height: 25px !important;
}
.info-box{
    display: flex;
    justify-content: space-around;
    width: 616px !important;
    height: 102px;
    background: #FFFFFF;
    box-shadow: 12px 32px 72px 1px rgba(51, 51, 51, 0.08);
    border-radius: 10px !important;
    align-items: center;
}
.icon-div{
    width: 35px;
    height: 25px;
    text-align: center;
    border-radius: 100%;
    background-color: #6F29FE;
}
.info-icon{
    text-align: center !important;
    color: #FFFFFF !important;
}
.info-para{
    font-family: 'Inter' !important;
font-style: normal !important;
font-weight: 500 !important;
font-size: 14px !important;
line-height: 17px !important;
color: #262A3F !important;
}
.info-span{
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 5px !important;
    color: #999999 !important;
}
.sec-div{
 display: flex !important;
 justify-content: space-between !important;
}
.second-sec{
    font-family: 'Playfair Display' !important;
font-style: normal !important;
font-weight: 700 !important;
font-size: 48px !important;
line-height: 48px !important;
}   
.sec-headings{
    font-family: 'Playfair Display' !important;
font-style: normal !important;
font-weight: 700 !important;
font-size: 30px !important;
line-height: 30px !important;
color: #262A3F !important; 
}
.sec-para{
    font-family: 'Poppins' !important;
font-style: normal !important;
font-weight: 400 !important;
font-size: 20px !important;
line-height: 140% !important;
color: #615E5B;
}
.brand{
    font-family: 'Playfair Display' !important;
font-style: normal !important;
font-weight: 700 !important;
font-size: 48px !important;
line-height: 48px !important;
}
.new-arrive{
    font-family: 'Poppins'!important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 19px !important;
    line-height: 30px !important;
    align-items: center !important;
    text-align: center !important;
    letter-spacing: 2px !important;
    color: #FFFFFF !important;
    background: #6F29FE !important; 
    border-radius: 100px !important;
    box-shadow: #6F29FE  0px 3px 8px 0px !important;
}
.new-link{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 30px;
color: #262A3F;
opacity: 0.5;
}
.new-arrive-pic-head{
    font-family: 'Poppins';
font-style: normal !important;
font-weight: 500 !important;
font-size: 24px !important;
line-height: 36px !important;
color: #262A3F !important;
text-align: start !important;
}
.new-arrive-pic-span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #6F29FE;

}
.forth-head{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 30px;
display: flex;
align-items: center;
letter-spacing: 2px;
color: #6F29FE;
}
.forth-heading{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 48px;
letter-spacing: 1px;
color: #333333;
}
.crds{
    width: 598px;
    height: 176px;
    background: #F8F4FF;
    box-shadow: 10px 32px 72px rgba(51, 51, 51, 0.03);
    border-radius: 10px;
}
.forth-div-pic{
    width: 128px;
    height: 128px;
    margin-right: 20px;
}
.forth-para{
font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 31px;
letter-spacing: 1px;
color: #262A3F;
}
.forth-para-2{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 140%;
color: #999999;
}

.five-head{
    text-align: center;
}
.five-link{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 30px;
text-align: center;
letter-spacing: 2px;

color: #6F29FE;
}
.five-heading{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 48px;
letter-spacing: 1px;
color: #333333;
}
.five-crds{
    width: 408px;
    height: 675px !important;
}
.five-rate{
    margin: auto;
}
.five-para{
    margin: 0px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #999999;
}
.crds-name{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
letter-spacing: 1px;
color: #262A3F;
}
.crds-span{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #615E5B;
}
.crds-1{
    padding: 0px !important;
    width: 300px !important;
    height: 100px !important;
}
.five-main{
    width: 372px !important;
    height: 320px !important;
    text-align: center !important;
    margin-right: 40px !important;
}
.five-crd{
    width: 324px;
    height: 224px;
    margin: auto;
}
.five-crd-head{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
letter-spacing: 1px;
color: #262A3F;
margin-left: 30px;
}

.five-buttons{
    text-align: center;
    
}
.but{
    background: #6F29FE !important;
    border-radius: 100px !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 600 !;
    font-size: 19px !important;
    line-height: 30px !important;
    padding: 10px 15px 10px 15px!important;
    text-align: center !important;
    letter-spacing: 2px !important;
    color: #FFFFFF !important;
    margin-right: 15px;
}
.butt{
    box-sizing: border-box !important;
    border: 1px solid #6F29FE !important;
    border-radius: 100px !important;
    padding: 10px 15px 10px 15px!important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 19px !important;
    line-height: 30px !important;
    text-align: center !important;
    letter-spacing: 2px !important;
    color: #6F29FE !important;
    margin-right: 15px;
}
.view-btn{

    margin: auto !important;
    width: 215px !important;
    box-sizing: border-box!important;
    border: 1px solid #6F29FE !important;
    border-radius: 100px !important;
    text-align: center !important;
}
.view{
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 19px !important;
    line-height: 30px !important;
    color: #6F29FE !important;
    letter-spacing: 2px !important;

}
.six-head{
    text-align: center;
    margin: auto !important;
}
.six-heading{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 56px !important;
line-height: 75px !important;
color: #424241 !important;
}
.summer-square{
    width: 503.2px !important;
    height: 564.17px !important;
    border: 2px solid #6F29FE !important;
}
.summer-img-1{
    position: absolute;
    left: 87px !important;
    top: 4400.78px !important;
}
.summer-box-1{
    width: 294px;
    height: 144px;
    background: #6F29FE;
    position: absolute;
    left: 194px;
    top: 4920px;
}
.summer-box-head{
    font-family: 'Playfair Display' !important;
    text-align: center !important;
font-style: normal !;
font-weight: 700 !important;
font-size: 30px !important;
line-height: 36px !important;
letter-spacing: 1px !important;
color: #FEFCFB !important;
}
.summer-box-para{
    font-family: 'Poppins' !important;
    margin-left: 20px;
font-style: normal !important;
font-weight: 500 !important;
font-size: 24px !important;
line-height: 36px !important;
color: #FEFCFB !important;
}
.six-sec{
height: 1300px !important;
}
.summer-square-2{
    box-sizing: border-box;
    position: absolute;
    width: 337.27px;
    height: 302.54px;
    left: 620.3px;
    top: 5034.36px;
    border: 2px solid #6F29FE;
}
.summer-img-2{
    position: absolute !important;
    left: -28px !important;
    top: -50.79px !important;
}
.summer-box-2{
    width: 294px !important;
    height: 144px !important;
    background: #6F29FE !important;
    position: absolute;
    left: 618px;
    top: 5300px;
}
.summer-square-3{
    box-sizing: border-box;
    position: absolute;
    width: 337.27px;
    height: 302.54px;
    left: 950.71px;
    top: 4550.57px;
    border: 2px solid #6F29FE;
}
.summer-img-3{
    position: absolute;
width: 400.55px;
height: 463.06px;
left: -26px;
top: 50.72px;
}
.summer-box-3{
position: absolute;
width: 294px;
height: 144px;
left: 960px;
top: 4950px;
background: #6F29FE;
}
.text-box{
    
position: absolute;
width: 421px;
height: 216px;
left: 637px;
top: 4400px;
background: #FFFFFF;
box-shadow: 10px 32px 72px 1px rgba(51, 51, 51, 0.08);
border-radius: 10px;
z-index: 10;
}
.seven-head{
    font-family: 'Playfair Display' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 48px !important;
    line-height: 48px !important;
    letter-spacing: 1px !important;
    color: #424241 !important;
}
.text{
    width: 357px;
    height: 100px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px !important;
line-height: 140% !important;
color: #424241 !important;
}
.seven-t-head{
    font-family: 'Playfair Display' !important;
font-style: normal !important;
font-weight: 700 !important;
font-size: 30px !important;
line-height: 30px !important;
letter-spacing: 1px !important;
color: #424241 !important;
flex: none !important;
order: 0 !important;
flex-grow: 0 !important;
}
.seven-price{
    font-family: 'Poppins' !important;
font-style: normal !important;
font-weight: 500 !important;
font-size: 36px !important;
line-height: 54px !important;
color: #6F29FE !important;
flex: none !important;
order: 1 !important;
flex-grow: 0 !important;
}
.review-stars{
   color: #FFD687 !important;
flex: none !important;
order: 4 !important;
flex-grow: 0 !important;
}
.five-zero{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
color: #6F29FE;
}
.seven-para{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
color: #424241;
}
.radio-btn{
    width: 16px;
height: 16px;
background: #A78364 !important;
color: #56728B !important;
flex: none;
order: 0;
flex-grow: 0;
border-radius: 100% !important  ;
}
.radio-btn-1{
    width: 16px;
height: 16px;
    box-sizing: border-box !important;
    border: 1px solid #56728B !important;
    border-radius: 100% !important  ;
    background: #56728B !important;
}
.radio-btn-2{
    width: 16px;
height: 16px;
background: #F1B171 !important;
flex: none !important;
order: 2 ;
flex-grow: 0 ;
border-radius: 100% !important  ;

}
.radio-btn-3{
    width: 16px;
height: 16px;
background: #F86F64;
flex: none;
order: 2;
flex-grow: 0;
border-radius: 100% !important  ;
}
.add-btn{
    background: #6F29FE !important;
border-radius: 100px !important;
font-family: 'Poppins' !important;
font-style: normal !important;
font-weight: 600 !important;
font-size: 19px !important;
line-height: 30px !important;
text-align: center !important;
letter-spacing: 2px !important;
color: #FFFFFF !important;
}
.add-btn-1{
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 19px !important;
    line-height: 30px !important;
    align-items: center;
    text-align: center !important;
    letter-spacing: 2px !important;
    color: #FFFFFF !important;
    background: #6F29FE !important;
border-radius: 100px !important;
}
.eight-main{
    text-align: center;
    margin: auto !important;
    height: 308px !important;
}
.eight{
    text-align: center;
    margin: auto !important;
}
.email-box{
width: 538px !important;
height: 96px !important;
background: #FFFFFF !important;
border-radius: 10px !important;

}
.btns{
    width: 122px !important;
    height: 48px !important;
    background: #6F29FE !important;
    border-radius: 10px !important;
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    color: #FFFFFF !important;
}
.email-main{
    margin: auto !important;
    text-align: center !important;
    display: flex !important;
    justify-content: space-around !important;
    height: 96px !important;
    margin-top: 20px !important;
}
.eight-link{
    font-family: 'Poppins' !important;
font-style: normal !important;
font-weight: 600 !important;
font-size: 19px !important;
line-height: 30px !important;
text-align: center !important;
letter-spacing: 2px !important;
color: #6F29FE !important;
}
.eight-head{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 30px;
text-align: center !important;
letter-spacing: 1px !important;
color: #333333  !important;
}
.footer-head{
    font-family: 'Inter' !important;
font-style: normal !important;
font-weight: 500 !important;
font-size: 16px !important;
line-height: 19px !important;
color: #FFFFFF !important;
}
.footer-para{
    font-family: 'Inter' !important;
font-style: normal !important;
font-weight: 600 !important;
font-size: 20px !important;
line-height: 24px !important;
color: #615E5B !important;
}
.para-footer{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 28px;
color: #999999 !important;

}
.one-para-link{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 45px;
color: #999999 !important;
text-decoration: none !important;
}
.footer-para-one{
    width: 100% !important;
}
.copy-right{
    text-align: center !important;
    margin: auto !important;
}
.copy{
    font-family: 'Inter' !important;
font-style: normal !important;
font-weight: 400 !important;
font-size: 14px !important;
line-height: 17px !important;
color: #999999 !important;
}


/* responsive */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .font-f{
        width: 100% !important;
    }
    .style-para {
        width: 100% !important;

    }
    .style-btn{
        width: 100% !important;
        text-align: center !important;
    }
    .style-btn-1{
        width: 90% !important;
        text-align: center !important;
        margin: auto !important;
    }
    .model{
        width: 100% !important;
        margin: auto !important;
    }
    .box{
        position: absolute;
        width: 175px !important;
        height: 68px;
        left: 2px;
        top: 680px !important;
        background: #FFFFFF;
        box-shadow: 10px 32px 72px 1px rgba(51, 51, 51, 0.08);
        display: none !important;
   
        border-radius: 7px;
    }
    .box-1{
        position: absolute;
        width: 100px !important;
        height: 120px !important;
        left: 170px;
        top: -150px !important;
        background: #FFFFFF;
        box-shadow: 10px 32px 72px 1px rgba(51, 51, 51, 0.08);
        border-radius: 7px;
        display: none !important;
    }
    .info-box{
        
        display: flex;
    justify-content: space-around;
    width: 100% !important;
    height: 270px  !important;
    flex-direction: column !important;
    background: #FFFFFF;
    box-shadow: 12px 32px 72px 1px rgba(51, 51, 51, 0.08);
    border-radius: 10px !important;
    align-items: center;
    margin-top: 10% !important;
    }
    .info-para{
    width: 100% !important;
    text-align: center !important;
    }
    .first-img{
        width: 100% !important;
        margin-left: 0px !important;
    }
   .sec-sec{
       width: 100% !important;
       padding-left: 15px !important;
   }
   
   .navbar1{
    margin-left: -32px !important;
    font-weight: 100px !important;
    width: 80% !important;
       
   }
   .third-p{
       width: 100% !important;
        margin: auto !important;
    }
    .th-pic{
        width: 100% !important;
    }
    .new-arrive-pic-head{
        width: 100% !important;
    }
    .new-arrive-pic-span{
        width: 100% !important;
    }
   
   .for-sec{
       width: 100% !important;
       height: 100%;
       display: flex !important;
       flex-direction: column !important;
   }
   
   .crds{
       width: 100%;
       height: 20%;
       flex-direction: column;
       padding: 10px;
   }
   .forth-para{
       margin-top: 20px;
   }
   .five-buttons{
       display: flex;
       flex-wrap: wrap;
       justify-content: center !important;
}  
.butt{
    margin-bottom: 15px !important;
    width: 100%;
    height: 10%;
} 
.but{
    margin-bottom: 15px !important;
    width: 100%;
    height: 10%;
} 
.five-crds{
    width: 100%;
    height: 100% !important;
    margin-bottom: 30px;
    margin: auto !important;
}
.five-main{
    width: 100% !important;
    height: 100% !important;
    margin-bottom: 20px !important;
}
.five-crd-head{
    text-align: left !important;
    margin-top: 30px !important;
}
.summer-sec{
    width: 100% !important;
}

.six-sec{
    display: none !important;
}
.seven-head{
    width: 100% !important;
}
.seven-img{
    width: 100% !important;
}
.seven-t-img{
    width: 100% !important;
}
.seven-res{
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
}
.seven-t-head{
    width: 100% !important;
    margin-top: 15px !important;
}
.h-one{
    width: 100% !important;
    margin-top: -40px !important;
}
.seven-main{
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
}
.add-btn-1{
    width: 100% !important;
    margin-top: 15px !important;

}
.eight-box{
    width: 100% !important;

}
.email-box{
    width: 100% !important;
    height: 100px !important;
  
}
.eight-main{
    height: auto !important;

}
.email-main{
    display: flex !important;
    flex-direction: column !important;
}
.btns{
    width: 100% !important;
    /* margin-top: 30px !important; */
}
.eight{
    width: 100% !important;
    margin-top: 40px !important;
}
.small{
    width: 80% !important;
    padding: 10px !important;
}
.copy-right{
    width: 100% !important;
    text-align: start !important;
    margin-left: 5px !important;
}
.bd-footer{
    padding: 0px !important;
    margin: 0px !important;
    width: 100% !important;
}
.f-se{
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) { 
    .font-f{
        width: 100% !important;
    }
    .style-para {
        width: 100% !important;

    }
    .style-btn{
        width: 100% !important;
        text-align: center !important;
    }
    .style-btn-1{
        width: 90% !important;
        text-align: center !important;
        margin: auto !important;
    }
    .model{
        width: 100% !important;
        margin: auto !important;
    }
    .box{
        position: absolute;
        width: 175px !important;
        height: 68px;
        left: 360px;
        top: 120px !important;
        background: #FFFFFF;
        box-shadow: 10px 32px 72px 1px rgba(51, 51, 51, 0.08);
        /* display: none !important; */
   
        border-radius: 7px;
    }
    .box-1{
        position: absolute;
        width: 140px !important;
        height: 80px !important;
        left: 250px;
        top: 90px !important;
        background: #FFFFFF;
        box-shadow: 10px 32px 72px 1px rgba(51, 51, 51, 0.08);
        border-radius: 7px;
        /* display: none !important; */
    }
    .info-box{
        
        display: flex;
    width: 300px !important;
    height: 300px  !important;
    flex-direction: column !important;
    background: #FFFFFF;
    box-shadow: 12px 32px 72px 1px rgba(51, 51, 51, 0.08);
    border-radius: 10px !important;
    align-items: center !important;
    margin-top: 20% !important;
    text-align: center !important;
    margin: auto !important 

    }
    .info-para{
    width: 100%   !important;
    text-align: center !important;
    }
    .first-img{
        width: 100% !important;
    }
   .sec-sec{
       width: 100% !important;
       padding-left: 15px !important;
   }
   
   .navbar1{
    width: 100% !important;
       
   }
   .third-p{
       width: 100% !important;
        margin: auto !important;
    }
    .th-pic{
        width: 100% !important;
    }
    .new-arrive-pic-head{
        width: 100% !important;
    }
    .new-arrive-pic-span{
        width: 100% !important;
    }
   
   .for-sec{
       width: 100% !important;
       height: 100%;
       display: flex !important;
       flex-direction: column !important;
   }
   .four-img{
    width: 100% !important;
   }
   
   .crds{
       width: 100%;
       height: 20%;
       flex-direction: row;
       padding: 10px;
   }
   .forth-para{
       margin-top: 15px;
   }
   .five-buttons{
       display: flex;
       flex-wrap: wrap;
       justify-content: center !important;
}  
.butt{
    margin-bottom: 15px !important;
    width: 70%;
    height: 10%;
} 
.but{
    margin-bottom: 15px !important;
    width: 70%;
    height: 10%;
} 
.five-crds{
    width: 100%;
    height: 100% !important;
    
}
.five-main{
    width: 100% !important;
}
.five-crd{
    width: 100% !important;
    
}
.five-crd-head{
    text-align: left !important;
    margin-top: 30px !important;
}
.summer-sec{
    width: 100% !important;
}

.six-sec{
    display: none !important;
}
/* .sev-sec{
    width: 70% !important;
} */
.seven-head{
    width: 100% !important;
}
.seven-img{
    width: 100% !important;
    height: 400px !important;
}
.seven-t-img{
    width: 100% !important;
}
.seven-res{
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
  margin-top: 45px; 
}
.seven-t-head{
    margin-top: 50px; 
    width: 100% !important;
}
.seven-h-three{
    width: 100% !important;
}
.h-one{
    width: 100% !important;
    margin-top: -40px !important;
}
.seven-main{
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
}
.add-btn-1{
    width: 100% !important;
    margin-top: 15px !important;

}
.eight-box{
    width: 100% !important;
    text-align: center;
}
.email-box{
    width: 50% !important;
    height: 100px !important;
  
}
.eight-main{
    height: auto !important;

}
.email-main{
    display: flex !important;
    flex-direction: column !important;
}
.btns{
    width: 100% !important;
    /* margin-top: 30px !important; */
}
.eight{
    width: 100% !important;
    margin-top: 40px !important;
}
.small{
    width: 100% !important;
    padding: 10px !important;
}
.copy-right{
    width: 100% !important;
    text-align: center !important;
    margin-left: 5px !important;
}
.bd-footer{
    padding: 0px !important;
    margin: 0px !important;
    width: 100% !important;
    text-align: center !important;
}
.f-se{
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
}
.sec-third{
    width: 100% !important;
}  
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 
}



/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {

} */

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {

} */